name: Go

on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:
    tags:
      - v*
    branches:
      - master
      - main

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
